<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <title>게시판 홈</title>
</head>

<body>

    <header class="header">
        <div class="inner">
            <div class="header_top">
                <div class="logoL">
                    <h1 class="logo"><a href="#none"><img src="/images/logo.png" alt="로고 이미지"></a></h1>
                </div>
                <div class="utilR">
                    <ul>
                        <li><a href="#none">관리자</a></li>
                        <li><a href="#none">로그인</a></li>
                        <li><a href="#none">로그아웃</a></li>
                        <li><a href="#none">마이페이지</a></li>
                        <li><a href="#none">고객센터</a></li>
                    </ul>
                </div>
            </div>

            <!-- 네비게이션 -->
            <nav class="gnb">
                <div class="inner">
                    <ul>
                        <li><a href="#none">소개페이지</a></li>
                        <li><a href="#none">메뉴소개</a></li>
                        <li><a href="#none">공지사항</a></li>
                        <li><a href="/boards/list">게시판</a></li>
                        <li><a href="#none">Q&A</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <!-- 컨테이너 영역 -->
    <div class="container">
        <div class="inner">
            <!-- 슬라이드 영역 -->
            <div class="slide">
                <a href="#none"><img src="images/benner1.png" alt="슬라이드 이미지"></a>
            </div>

            <!-- 컨텐츠 영역 -->
            <div class="main_area">
                <ul>
                    <li>
                        <a href="#none">
                            <span><img src="" alt="이미지 영역"></span>
                        </a>
                        <strong>제목영역</strong>
                        <p>소개글 영역</p>
                    </li>
                    <li>
                        <a href="#none">
                            <span><img src="" alt="이미지 영역"></span>
                        </a>
                        <strong>제목영역</strong>
                        <p>소개글 영역</p>
                    </li>
                    <li>
                        <a href="#none">
                            <span><img src="" alt="이미지 영역"></span>
                        </a>
                        <strong>제목영역</strong>
                        <p>소개글 영역</p>
                    </li>
                    <li>
                        <a href="#none">
                            <span><img src="" alt="이미지 영역"></span>
                        </a>
                        <strong>제목영역</strong>
                        <p>소개글 영역</p>
                    </li>
                    <li>
                        <a href="#none">
                            <span><img src="" alt="이미지 영역"></span>
                        </a>
                        <strong>제목영역</strong>
                        <p>소개글 영역</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 푸터영역 -->
    <footer class="footer">
        <div class="inner">
            <div class="foot_top">
                <ul class="foot_menu">
                    <li><a href="#none">개인정보처리방침저작권</a></li>
                    <li><a href="#none">정책영상정보처리기기 운영 관리방침</a></li>
                    <li><a href="#none">홈페이지 바로잡기</a></li>
                    <li><a href="#none">행정서비스 헌장</a></li>
                </ul>
                <div class="mark">
                    <a href="#none"><img src="images/pc/mark01.png"
                            alt="과학기술정보통신부 WEB ACCESSIBILITY 마크(웹 접근성 품질인증 마크)"></a>
                </div>
            </div>
            <div class="address">
                <address>(우) 07789 서울 강서구 마곡동로 161 서울식물원</address>
            </div>
            <div class="copy_r">
                <p>Copyright©Seoul Metropolitan Government all rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>