<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/common.css">
    <title>게시판 리스트</title>
</head>

<body>
    <header class="header">
        <div class="header_top">
            <div class="inner">
                <div class="logoL">
                    <h1 class="logo"><a href="/"><img src="/images/logo.png" alt="로고 이미지"></a></h1>
                </div>
                <div class="utilR">
                    <ul>
                        <li><a href="#none">관리자</a></li>
                        <li><a href="#none">로그인</a></li>
                        <li><a href="#none">로그아웃</a></li>
                        <li><a href="#none">마이페이지</a></li>
                        <li><a href="#none">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- 네비게이션 -->
        <nav class="gnb">
            <div class="inner">
                <ul>
                    <li><a href="#none">소개페이지</a></li>
                    <li><a href="#none">메뉴소개</a></li>
                    <li><a href="#none">공지사항</a></li>
                    <li><a href="/boards/list">게시판</a></li>
                    <li><a href="#none">Q&A</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <!-- 컨테이너 영역 -->
    <div class="container">
        <div class="inner">
            <h1>게시판 리스트</h1>
            <a class="created" href="/boards/insert">글쓰기</a>
            <table>
                <thead>
                    <tr>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>수정일</th>
                        <th>조회수</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="board : ${boardList}">
                        <tr>
                            <td class="textc" th:text="${board.no}"></td>
                            <td class="textc"><a th:href="|/boards/read?no=${board.no}|" th:text="${board.title}"></a>
                            </td>
                            <td class="textc" th:text="${board.writer}"></td>
                            <td class="textc" th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="textc" th:text="${#dates.format(board.updatedAt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="textc" th:text="${board.viewCount}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
            <!-- 페이지네이션 -->
            <nav class="paging" aria-label="Page navigation example">
                <div class="pagination">
                    <ul>
                        <li>
                            <!-- [처음] -->
                            <a th:href="|/boards/list?page=${page.first}|">&lt;&lt;</a>
                        </li>
                        <li>
                            <!-- [ 이전 ] -->
                            <th:block th:if="${page.page != page.first}"><a
                                    th:href="|/boards/list?page=${page.prev}|">&lt;</a>
                            </th:block>
                        </li>
                        <li>
                            <!-- [페이지 번호]-->
                            <!-- #numbers.sequence(시작번호, 끝번호) : 시작번호 부터 끝번호까지 번호 리스트를 생성 -->
                            <th:block th:each="no : ${#numbers.sequence(page.start, page.last)}">
                                <!-- 현재 페이지 -->
                                <th:block th:if="${page.page == no}"><b><span th:text="${no}"></span></b></th:block>
                                <th:block th:if="${page.page != no}"><a th:href="|/boards/list?page=${no}|"
                                        th:text="${no}"></a></th:block>
                            </th:block>
                        </li>
                        <li>
                            <!-- [ 다음 ] -->
                            <th:block th:if="${page.page != page.last}"><a
                                    th:href="|/boards/list?page=${page.next}|">&gt;</a>
                            </th:block>
                        </li>
                        <li>
                            <!-- [마지막] -->
                            <a th:href="|/boards/list?page=${page.last}|">&gt;&gt;</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- 페이지 네이션-->
        </div>
    </div>

    <!-- 푸터영역 -->
    <footer class="footer">
        <div class="inner">
            <div class="foot_top">
                <ul class="foot_menu">
                    <li><a href="#none">개인정보처리방침저작권</a></li>
                    <li><a href="#none">정책영상정보처리기기 운영 관리방침</a></li>
                    <li><a href="#none">홈페이지 바로잡기</a></li>
                    <li><a href="#none">행정서비스 헌장</a></li>
                </ul>
                <div class="mark">
                    <a href="#none"><img src="images/mark.png" alt="과학기술정보통신부 WEB ACCESSIBILITY 마크(웹 접근성 품질인증 마크)"></a>
                </div>
            </div>
            <div class="address">
                <address>(우) 07789 서울 강서구 마곡동로 161 서울식물원</address>
            </div>
            <div class="copy_r">
                <p>Copyright©Seoul Metropolitan Government all rights reserved.</p>
            </div>
        </div>
    </footer>

</body>

</html>