<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <title>게시판 리스트</title>
</head>

<body>
    <header class="header">
        <div class="logoL">
            <h1 class="logo"><a href="/"><img src="" alt="로고 이미지"></a></h1>
        </div>
        <div class="utilR">
            <ul>
                <li><a href="#none">로그인</a></li>
                <li><a href="#none">마이페이지</a></li>
                <li><a href="#none">고객센터</a></li>
            </ul>
        </div>
    </header>
    <nav class="gnb">
        <ul>
            <li><a href="#none">소개페이지</a></li>
            <li><a href="#none">메뉴소개</a></li>
            <li><a href="#none">공지사항</a></li>
            <li><a href="/boards/list">게시판</a></li>
            <li><a href="#none">Q&A</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="board_title">게시판 리스트</h1>
        <a href="/boards/insert">글쓰기</a>
        <table style="border: 10px solid #ccc;">
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>수정일</th>
                </tr>
            </thead>
            <th:block th:each="board : ${boardList}">
                <tr>
                    <td th:text="${board.no}"></td>
                    <td><a th:href="|/boards/read?no=${board.no}|" th:text="${board.title}"></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(board.updatedAt, 'yyyy-MM-dd')}"></td>
                </tr>
            </th:block>
        </table>
    </div>

</body>

</html>