<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판 리스트</title>
</head>

<body>
    <h1>게시판 리스트</h1>
    <a href="/boards/insert">글쓰기</a>
    <table border="1">
        <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>수정일</th>
            </tr>
        </thead>
        <th:block th:each="board : ${boardList}">
                <tr>
                    <td th:text="${board.no}"></td>
                    <td><a th:href="|/boards/read?no=${board.no}|" th:text="${board.title}"></a></td>
                    <td th:text="${board.writer}"></td>
                    <td th:text="${#dates.format(board.createdAt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${#dates.format(board.updatedAt, 'yyyy-MM-dd')}"></td>
                </tr>
        </th:block>
    </table>
</body>

</html>