<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>게시글 수정</h1>
    <form id="form" action="/boards/update" method="post">
        <input type="hidden" name="no" id="no" th:value="${board.no}">
        <table>
            <tr>
                <td>제목</td>
                <td>
                    <input type="text" id="title" name="title" th:value="${board.title}">
                </td>
            </tr>
            <tr>
                <td>작성자</td>
                <td>
                    <input type="text" id="writer" name="writer" th:value="${board.writer}">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="text" id="content" name="content" th:value="${board.content}">
                </td>
            </tr>
        </table>
        <div>
            <button type="button" onclick="actionDelete()">삭제</button>
            <button type="submit">수정</button>
            <button type="button" onclick="moveList()">목록</button>
        </div>
    </form>

    <script>
        let form = document.getElementById('form')

        let no = '[[${board.no}]]'


        function moveUpdate() {
            location.href = '/boards/update'
        }

        function actionDelete() {
            let check
            if (check) {
                action.confirm("정말로 삭제하시겠습니까?")
                action.submit()
                
            }
        }

        function moveList() {
            location.href = '/boards/list'
        }
    </script>
</body>
</html>