/* 공통 영역 */
.inner>h1 {
    font-size: 30px;
    padding: 50px 0;
}

td.textc {
    padding: 5px 0;
    text-align: center;
}

/* 컨테이너 영역 */

.container {}

.container .inner {}

.container .inner h1 {}

.container .inner a.created {
    width: 80px;
    padding: 10px 0;
    font-weight: bold;
    display: block;
    background-color: #ccc;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container .inner table {
    width: 100%;
    margin: 40px 0;
}

.container .inner table thead {}

.container .inner table thead tr {}

.container .inner table thead tr th {
    padding: 5px 0;
    font-size: 1.2rem;
}

.container .inner table tbody {
    width: 100%;
}

.container .inner table tbody tr {}

.container .inner table tbody tr td {
    border-top: 1px solid #ccc;
}


/* 글쓰기 영역 */

.createds {
    width: 100%;
}

.createds .inner {}

.createds .inner h1 {}

.createds .inner .insertInput {}

.createds .inner .insertInput form {
    display: flex;
}

.createds .inner .insertInput form p {
    display: block;
}

.createds .inner .insertInput form p input {
    display: block;
}