/* 공통 영역 */
.inner {
    max-width: 1200px;
    margin: 0 auto;
}


/* 헤더 영역 */
.header {
    width: 100%;
}

.header .inner {}

.header .inner .header_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.header .inner .header_top .logoL {}

.header .inner .header_top .logoL h1 {}

.header .inner .header_top .logoL h1 a {}

.header .inner .header_top .logoL h1 a img {
    height: 80px;
}

.header .inner .header_top .utilR {}

.header .inner .header_top .utilR ul {
    flex-direction: row;
    align-self: center;
    gap: 20px;
}

.header .inner .header_top .utilR ul li {}

.header .inner .header_top .utilR ul li a {}

.header nav.gnb {
    width: 100%;
}

.header nav.gnb .inner {
    background-color: yellow;
}

.header nav.gnb .inner ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.header nav.gnb .inner ul li {
    align-self: center;
}

.header nav.gnb .inner ul li a {
    display: block;
    padding: 20px 40px;
}


/* 컨테이너 영역 */
.container {}

.container .inner {}

.container .inner .slide {
    width: 100%;
}

.container .inner .slide a {
    display: block;
}

.container .inner .slide a img {
    /* width: 1000px; */
    height: 800px;

}



.container .inner .main_area {}

.container .inner .main_area ul {}

.container .inner .main_area ul li {}

.container .inner .main_area ul li a {}

.container .inner .main_area ul li a span {}

.container .inner .main_area ul li a span img {}

.container .inner .main_area ul li strong {}

.container .inner .main_area ul li p {}