/* 공통 영역 */
.inner {
    max-width: 1200px;
    margin: 0 auto;
}

h3.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}


/* 헤더 영역 */
.header {
    width: 100%;
}

.header {}

.header .header_top {
    width: 100%;
}

.header .header_top .inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.header .header_top .inner .logoL {}

.header .header_top .inner .logoL h1 {}

.header .header_top .inner .logoL h1 a {}

.header .header_top .inner .logoL h1 a img {}

.header .header_top .inner .utilR {}

.header .header_top .inner .utilR ul {
    display: flex;
    gap: 20px;
}

.header .header_top .inner .utilR ul li {}

.header .header_top .inner .utilR ul li a {}

.header nav.gnb {
    width: 100%;
    background-color: #ccc;
    padding: 20px 0;
}

.header nav.gnb .inner {}

.header nav.gnb .inner ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header nav.gnb .inner ul li {}

.header nav.gnb .inner ul li a {
    text-align: center;
}


/* 컨테이너 영역 */
.container {}

.container .slide {
    width: 100%;
    padding-bottom: 20px;
}

.container .slide .inner {
}

.container .slide .inner a {
    display: block;
}

.container .slide .inner a img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.container .board_area {
    background-color: #ccc;
    padding: 10px 0;
}

.container .board_area .inner {
    display: flex;
    gap: 10px;

}

.container .board_area .inner .news {
    width: 50%;
}

.container .board_area .inner .news ul {}

.container .board_area .inner .news ul li {
    padding: 5px 0;
}

.container .board_area .inner .news ul li a {}

.container .board_area .inner .board {
    width: 50%;
}

.container .board_area .inner .board ul {}

.container .board_area .inner .board ul li {
    padding: 5px 0;
}

.container .board_area .inner .board ul li a {}



.container .main_area {}

.container .main_area .inner {
    padding: 20px 0;
}

.container .main_area .inner ul {
    display: flex;
    gap: 10px;

}

.container .main_area .inner ul li {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.container .main_area .inner ul li a {
    padding-bottom: 3px;
}

.container .main_area .inner ul li a span {
    display: block;
}

.container .main_area .inner ul li a span img {
    width: 100%;
}

.container .main_area .inner ul li strong {
    display: inline-block;
    padding-bottom: 3px;
}

.container .main_area .inner ul li p.price {
    padding-bottom: 3px;
}

.container .main_area .inner ul li p {}


/* 푸터영역 */

footer.footer {
    background-color: #ccc;
    padding-top: 20px;
}

footer.footer .inner {}

footer.footer .inner .foot_top {}

footer.footer .inner .foot_top ul.foot_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

footer.footer .inner .foot_top ul.foot_menu li {}

footer.footer .inner .foot_top ul.foot_menu li a {}

footer.footer .inner .foot_top .mark {
    text-align: center;
}

footer.footer .inner .foot_top .mark a {}

footer.footer .inner .foot_top .mark a img {}

footer.footer .inner .foot_top .address {}

footer.footer .inner .address address {
    text-align: center;
}

footer.footer .inner .copy_r {}

footer.footer .inner .copy_r p {
    text-align: center;
}